input,
textarea {
    background-color: #cfeaf4;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #cfeaf4 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid dodgerblue !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

#logo {
    width: 220px;
    height: 74px
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, dodgerblue, cadetblue);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #f1c467, #80c06f)
}

.btn-white {
    border-radius: 50px;
    color: dodgerblue;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid dodgerblue !important
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #f1c467, #80c06f)
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.text-muted {
    color: #000 !important;
}

.card3 {
    width: 60%;
    background-image: linear-gradient(to right, cadetblue, dodgerblue)
}

@media screen and (max-width: 992px) {
    .card3 {
        width: 100%
    }
    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }
    .card3 {
        padding: 50px
    }
}

.error {
    color: rgb(205, 4, 4);
    font-size: 14px !important;
    font-weight: 400;
    padding: 8px;
    margin-left: 10px;
}