<section id="about-us" class="full-width-box cm-padding-bottom-36">
    <header class="page-header">
        <div class="container">
            <h1 class="title">About Us</h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 bottom-padding">
                <p class="lead"><strong>We believe in high quality, optimised and sophisticated code while
                        keeping the UI clean and user-friendly.</strong></p>
                <p>We believe in constant development of ourself by learning new technologies and tricks every day.</p>
                <p>We provide quality web &amp; IT support &amp; development to businesses around the world. So you can get on with running your business without worrying about websites and technology</p>
            </div>

            <div class="col-sm-6 col-md-6 bottom-padding">
                <div class="progress border-radius hover" data-appear-progress-animation="95%">
                    <div class="progress-bar progress-bar-info" style="width: 95%; text-indent: 10px;">PHP 95%</div>
                </div>
                <div class="progress border-radius" data-appear-progress-animation="98%">
                    <div class="progress-bar progress-bar-success" style="width: 98%; text-indent: 10px;">HTML/CSS 98%</div>
                </div>
                <div class="progress border-radius" data-appear-progress-animation="85%">
                    <div class="progress-bar progress-bar-warning" style="width: 85%; text-indent: 10px;">NodeJs 85%</div>
                </div>
                <div class="progress border-radius" data-appear-progress-animation="98%">
                    <div class="progress-bar progress-bar-info" style="width: 98%; text-indent: 10px;">Server Management 98%</div>
                </div>
                <div class="progress border-radius" data-appear-progress-animation="75%">
                    <div class="progress-bar progress-bar-success" style="width: 75%; text-indent: 10px;">Mobile Development 75%</div>
                </div>
            </div>
            <!-- .employee -->
        </div>
    </div>

</section>